body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

ul li {
  list-style: none;
  margin: 20 px 0;
}

label {
  display:block;
}

input {
  padding: 5 px;
}

input:focus {

}

button:hover {

}

button:active {

}